





#menu{
	position: fixed;
	width: 100%;
	z-index: 1;
}



/* FULL MENU ===================*/



https://www.mediafire.com/folder/b3cd8o52np8yb/Portafolio-main












/* RESPONSIVE*/
